.vib-main {
  padding: 0 !important;
}

button.flat-ui-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

div.buzz-ui-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: stretch;
  width: 100%;
}

section.app-container {
  flex: 1;
  text-align: center;
  width: 100%;
}

.interaction-box {
  border: 1px solid #ccc;
  box-shadow: 0 1px 4px rgb(0 21 41 / 12%);
  background: white;
  position: relative;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  margin-bottom: 1rem;
  height: 60px;
}

.buttons-container > * {
  flex-grow: 1;
  transition: all 0.3s linear;
}

.buttons-container .button-enabled {
}

.buttons-container .button-disabled {
  background: #bbb;
}

.inset-shadow-left {
  box-shadow: inset 10px -10px 10px -10px #777;
}

.inset-shadow-right {
  box-shadow: inset -10px -10px 10px -10px #777;
}

@media only screen and (min-width: 990px) {
  div.buzz-ui-container {
    flex-direction: row;
    text-align: center;
    gap: 5px;
  }

  .hide-on-desktop {
    display: none;
    max-hieght: 0;
    overflow: hidden;
  }

  .vib-main {
    padding: 1rem !important;
  }
}

@media only screen and (max-width: 990px) {
  .hide-on-mobile {
    display: none;
    max-height: 0;
    overflow: hidden;
  }
}
